

/*home*/



/*==== main*/
.home h1 {
  font-size: 2.5em;
  font-weight: 400;
  line-height: 2;
}
.home h2 {
  font-size: 1.25em;    font-weight: bold;
  display: inline-block;
}
.home h2:after {
  content: '';
  display: block;
  height: 1px;
  width: 50%;
  border-bottom: 2px solid #bf17a0;
  margin: 5px auto;
}
.home h2.pink-underline {  color: #bf17a0;  }
.home h2.pink-underline:after {  border-bottom: 2px solid #bf17a0;  }
.home h2.blue-underline:after {  border-bottom: 2px solid #18aa9e;  }

.home h4 {  font-size: 1.125em;   font-weight: bold; }
.home .btn {    padding: 10px 15px;  }

/* ==== containers */
.home .container {
  min-height: auto;
  text-align: center;
}
.home .container-dark p.head {
  font-size: 0.75em;
  font-weight: 300;
}
.home .container-dark h1 {
  font-weight: normal;
  color: #22ddbc;
}
.home .container-dark h3 {
  font-size: 1.125em;
  color: #22ddbc;
}

/*==== itemlists*/
.itemlist {
  padding: 30px 0;
}
.item {
  float: left;
}
.item-txt {
  position: relative;
  height: 170px;
  margin-bottom: 40px;
  padding: 30px 20px 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.item-txt > div.titlewrapper {
  position: relative;
  height: 3.5em;
  margin: 0;
  padding: 0;
}
.item-txt > div h4 {    width: 100%;  }


/*==== home section*/
.home .container-home {  padding-top: 150px;  }
.container-home p {
  font-size: 1.5em;
}
/* video bg */
.bg-video {
  position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    bottom: 0;
    right: 0;
}
.bg-video:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: -10%;
  background: #000;
  opacity: 0.7;
}
.bg-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-home .box-centered {
  width: 100%;
  padding: 40px 0 80px;
}

.home .img-main-logo {      margin-bottom: 40px;  }
p.countdown-head {
  margin-top: 50px;
  font-size: 16px;
}
button.btn-registernow {
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 1.375em;
}
.countdown-timer {  padding: 20px 65px;  }
  div.time-unit { display: inline-block;}
  span.time-unit {
    display: block;
    margin-bottom: 5px;
    padding: 15px;
    border: 1px solid;
    font-size: 50px;
    line-height: 1;
    color: #ffffff;
  }
  p.total-raised {
    font-size: 1.875em;
    font-weight: bold;
    padding: 20px 0 40px;
  }
  .amount-raised-progressbar {    padding: : 0 0 75px;  }
    .progressbar {
      position: relative;
      width: 100%;
      height: 25px;
      border-radius: 10px/50%;
      overflow: hidden;
      background: #fff;
    }
    .progressbar > div {
      position: absolute;
      top: 0; left: 0;
      height: 100%;
      width: 43%;
      background: #3ab4dc;
    }
    .progressbar p {
      position: absolute;
      right: 10%;
      line-height: 25px;
      font-size: 0.8125em;
    }

  /*==== about part-1 section*/
  .home .container-about {  padding: 100px 0 100px; }
  .container-about .row-slim:first-of-type   {   max-width: initial;  }
  .container-about .row-slim {  padding-bottom: 30px;  }
  .about-text {
    width: 60%;
    padding: 100px 30px 0 0;
  }
  .about-text p {
    text-align: left;
    font-size: 1.125em;
    line-height: 1.5;
    color: #555555;
  }
  .img-app-preview {
    margin-right: -12.5%;
    width: 50%;
    padding-bottom: 40%;
    background: url(../../assets/images/app-preview.png) no-repeat top right;
    background-size: contain;
  }
  /*==== about part-2 section*/
  .instruction-itemlist {
    position: relative;
    padding: 0;
    z-index: 1;
  }
  .instruction-itemlist:before {
    content: '';
    display: block;
    width: 80%;
    height: 2px;
    background: #4c4c4c;
    position: absolute;
    top: 39px;
    left: 10%;
    z-index: -1;
  }
  .instruction-itemlist .item {
    width: 14.28%;
    width: calc(100% / 7);
    text-align: center;
  }
  .instruction-itemlist .item-img {
    width: 78px;
    height: 78px;
    display: inline-block;
  }
  .instruction-itemlist .item:first-child .item-img {  background-image: url(../../assets/images/instruction-itemlist-1.png);  }
  .instruction-itemlist .item:nth-child(2) .item-img {  background-image: url(../../assets/images/instruction-itemlist-2.png);  }
  .instruction-itemlist .item:nth-child(3) .item-img {  background-image: url(../../assets/images/instruction-itemlist-3.png);  }
  .instruction-itemlist .item:nth-child(4) .item-img {  background-image: url(../../assets/images/instruction-itemlist-4.png);  }
  .instruction-itemlist .item:nth-child(5) .item-img {  background-image: url(../../assets/images/instruction-itemlist-5.png);  }
  .instruction-itemlist .item:nth-child(6) .item-img {  background-image: url(../../assets/images/instruction-itemlist-6.png);  }
  .instruction-itemlist .item:nth-child(7) .item-img {  background-image: url(../../assets/images/instruction-itemlist-7.png);  }
  .instruction-itemlist .item-label {
    font-size: 0.75em;
    font-weight: 600;
    display: inline-block;
  }
  /*==== about part-3 section*/
  .container-about video {
    width: 100%    !important;
    height: auto   !important;
    max-height: 600px;
  }

  /*==== exclusive bonus, utility*/
  .home .container-center {
    height: auto;
    min-height: auto;
    padding: 100px 0;
  }
  .bonus-itemlist .item, .utility-itemlist .item {
    width: 33.33%;
    padding: 0 30px;
  }



  /*utility section*/
  .utility-itemlist .item-txt {
    overflow: hidden;
    border: 1px solid transparent;
  }
  .utility-itemlist .item-txt:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    border-style: inset;
    border-width: 2px;
    border-image: linear-gradient(to bottom, #65cce6, #ff23d6) 1;
  }

  /*technology section*/
  .home .container-technology h1 {
    color: #22ddbc;
  }
  .technology-itemlist {
    padding: 60px 0;
  }
  .technology-itemlist .item {
    width: 20%;
    padding: 0 20px;
  }
  .technology-itemlist .item:not(:last-child) {
    border-right: 1px inset #fff;
  }
  .technology-itemlist .item-img {
    width: 100%;
    height: auto;
    padding-top: 40%;;
    display: inline-block;
  }
  .technology-itemlist .item-lbl {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
  }
  .technology-itemlist .item-dsc {
    font-size: 0.625em;
  }
  .technology-itemlist .item:first-child .item-img {  background-image: url(../../assets/images/technology-itemlist-1.png);  }
  .technology-itemlist .item:nth-child(2) .item-img {  background-image: url(../../assets/images/technology-itemlist-2.png);  }
  .technology-itemlist .item:nth-child(3) .item-img {  background-image: url(../../assets/images/technology-itemlist-3.png);  }
  .technology-itemlist .item:nth-child(4) .item-img {  background-image: url(../../assets/images/technology-itemlist-4.png);  }
  .technology-itemlist .item:nth-child(5) .item-img {  background-image: url(../../assets/images/technology-itemlist-5.png);  }


  /*==== token offering section*/
  .container-tokenoffering table {
    width: 60%;
    margin: 30px auto;
  }
  .container-tokenoffering td, .container-tokenoffering p {    font-size: 1.1875em;  }


  /* ==== container strategy */
  .container-strategy .row-slim {    padding: 40px 10%;  }
  .container-strategy .box-centered {      width: 60%;    padding: 30px 0; }
  .container-strategy p {    font-size: 1.1875em;  }
  .container-strategy table td, .container-strategy table th {
    padding: 10px;
    text-align: center;
    font-size: 1.125em;
    font-weight: bold;
  }
  .blue-white-table td, .blue-white-table th {
    border-bottom: 4px solid #252528;
  }
  .blue-white-table th, .blue-white-table td.head {
    border-right: 2px solid #252528;
    background: #6ebde6;
    color: #ffffff;
  }
  .blue-white-table th:empty {    background: transparent;  }
  .blue-white-table td {
    background: #ffffff;
    color: #252528;
  }

  .blue-white-table td.right-bordered {    border-right: 2px solid #252528;   }


  .blue-table {    border-collapse: separate; }
  .blue-table td {    width: 50%; background: #5683ea;  color: #353434;  }
  .blue-table td:first-child {    color: #ffffff;  }


  /*==== container linemaps*/
  .home .container-roadmap    {    padding: 110px 0 40px;  }
  .home .row-linemap {    padding: 40px 10%;  }
  /* .linemap { padding: 40px 0;} */

  .linemap text  {    font-family: Raleway;  }

  .row-documents {    width: 45%;    margin: auto;  }
  .doc {    width: 50%;    padding: 20px;    text-align: left;  }
  .doc .ico   { padding-right: 10px; }


  /*==== container-aboutus*/
  .home .container-aboutus    {
    padding: 50px 0;
    color: #bf17a0;
  }
  .container-aboutus h2 {  color: #bf17a0;     }

  ul.tab-head li {
    width: 33%;
    float: left;
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid #a0a0a0;
  }
  ul.tab-head li.active, ul.tab-head li:hover {
    border-bottom: 2px solid #bf17a0;
    color: #bf17a0;
  }
  .tabs-view {  text-align: left; }

    /*profiles*/
    .profile-group {
      width: 25%;
      display: inline-block;
      padding: 20px;
      margin-left: -20px;
    }
    .profile-group p, .item-group p {
      text-align: center;
      margin: auto -50%;
    }
    .profile-img {
      width: 100%;
      height: auto;
      border-radius: 50%;
      margin-bottom: 20px;
      padding: 50%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      filter: grayscale(100%); /* Current draft standard */
      -webkit-filter: grayscale(100%); /* New WebKit */
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */
      filter: url(resources.svg#desaturate); /* Gecko */
      filter: gray; /* IE */
      -webkit-filter: grayscale(1); /* Old WebKit */
    }
    .profile-name, .item-name {
      font-size: 1.125em;
      font-weight: bold;
      color: #686868;
      white-space: nowrap;
    }
    .profile-soc {  text-align: center; }


    .profile-group:first-child .profile-img {  background-image: url(../../assets/images/execteam-1.jpg);   }
    .profile-group:nth-child(2) .profile-img {  background-image: url(../../assets/images/execteam-2.jpg);   }



    .item-group {
      display: inline-block;
      padding: 20px;
      margin-left: -20px;
    }
    .item-group .item-img {
      width: 100%;
      height: auto;
      padding-bottom:100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .row-with, .row-partners, .row-news {  padding-top: 100px; padding-bottom: 100px; }

    .row-with .item-group {
      width: 16.65%;
      width: calc(100% / 6);
      margin-bottom: 20px;
    }
    .row-with .item-group:first-child .item-img {  background-image: url(../../assets/images/with-1.png);   }
    .row-with .item-group:nth-child(2) .item-img {  background-image: url(../../assets/images/with-2.png);   }
    .row-with .item-group:nth-child(3) .item-img {  background-image: url(../../assets/images/with-3.png);   }
    .row-with .item-group:nth-child(4) .item-img {  background-image: url(../../assets/images/with-4.png);   }
    .row-with .item-group:nth-child(5) .item-img {  background-image: url(../../assets/images/with-5.png);   }
    .row-with .item-group:nth-child(6) .item-img {  background-image: url(../../assets/images/with-6.png);   }

    .row-partners .item-group { width: 25%; padding: 20px 40px; }
    .row-partners .item-group:first-child .item-img {  background-image: url(../../assets/images/partners-1.png);   }
    .row-partners .item-group:nth-child(2) .item-img {  background-image: url(../../assets/images/partners-2.png);   }
    .row-partners .item-group:nth-child(3) .item-img {  background-image: url(../../assets/images/partners-3.png);   }
    .row-partners .item-group:nth-child(4) .item-img {  background-image: url(../../assets/images/partners-4.png);   }

    .row-news { background: #ebebeb;  }
    .row-news .item-group { width: 25%; padding: 20px 60px; }
    .row-news .item-group:first-child .item-img {  background-image: url(../../assets/images/news-1.png);   }
    .row-news .item-group:nth-child(2) .item-img {  background-image: url(../../assets/images/news-2.png);   }
    .row-news .item-group:nth-child(3) .item-img {  background-image: url(../../assets/images/news-3.png);   }
    .row-news .item-group:nth-child(4) .item-img {  background-image: url(../../assets/images/news-4.png);   }
    .row-news .item-group:nth-child(5) .item-img {  background-image: url(../../assets/images/news-5.png);   }
    .row-news .item-group:nth-child(6) .item-img {  background-image: url(../../assets/images/news-6.png);   }

    /* ==== container social media */
    .home .container-social {
      background: #363636;
      color: #ffffff;
    }
    .row-social .item-group {    width: 15%;    padding: 30px 0 20px;  }
    .row-social .item-group .item-img {    padding-bottom: 45px;  }
    .row-social .item-group:first-child .item-img {  background-image: url(../../assets/images/social-1.png);   }
    .row-social .item-group:nth-child(2) .item-img {  background-image: url(../../assets/images/social-2.png);   }
    .row-social .item-group:nth-child(3) .item-img {  background-image: url(../../assets/images/social-3.png);   }
    .row-social .item-group:nth-child(4) .item-img {  background-image: url(../../assets/images/social-4.png);   }


    /* container FAQ */
    .container-faq .row-slim  { padding: 0 15%; }
    .container-faq h1 {
      font-size: 2.5em;
      color: #bf17a0;
    }
    .faq-group {
      margin-bottom: 1.5em;
      text-align: left;
    }
    .faq-q    {  position: relative; color: #bf17a0;  cursor: pointer;}
    .faq-q p  {  width: 90%;  font-size: 1em;    }
    .faq-q:after {
      content: '+';
      position: absolute;
      display: block;
      top: 0; right: 1em;
      font-size: 1.5em;
      color: #bf17a0;
    }
    .faq-q.open, .faq-q-open {
      color: #7f7f7f;
      border-bottom: 1px solid #bf17a0;
    }
    .faq-q.open:after, .faq-q-open:after {
      content: '-';
    }
    .faq-a    { padding: 10px 0; color: #7f7f7f; }
    .faq-a p  { width: 90%;  font-size: 0.75em;    }


    /* ==== footer */
    .home footer {
      padding: 50px 10%;
      background: #111111;
    }
    .home footer .logo {
      display: block;
      width: 206px;
      height: 38px;
      margin: auto;
      background: url(../../assets/images/cryptaldash-white-footerlogo.png) no-repeat center;
      background-size: contain;
    }





/*==== util*/
.at-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.box-centered {  display: inline-block; }
.box-centered > *:not(:last-child) {  margin-right: 10px; }
.infographic {
  padding: 40px 0;
}

/*==== images*/
.img {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
    .img-main-logo {
      background-image: url(../../assets/images/cryptaldash-logo.png);
      padding-bottom: 15%;
      background-size: contain;
    }
